* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    display: inline-block;
    background-color: #251a11;
    /*overflow: hidden;*/
    height: 100%;
    width: 100%;
}

label, input, select {
    color: #251a11;
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    width: 150px;
}

form {
    margin-top: 5%;
}

input[type=submit] {
    background: none;
    border: none;
    text-align: center;
    font-family: "Quicksand";
}

.mainP {
    height: 100%;
    width: 100%;
}

.content {
    text-align: center;
    font-family: "Quicksand";
    padding-top: 1%;
    height: 100%;
    width: 40%;
    padding-bottom: 1%;
    margin: auto;
    position: inherit;
}


a {
    text-decoration: none;
    position: relative;
    color: #251a11;
}

.center a {
    text-decoration: none;
    position: relative;
    color: #764232;
}

    .center a::before {
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #251a11;
        transition: 0.2s;
        transform: scaleX(0);
    }

    .center a:hover:before {
        transform: scaleX(1);
    }


.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.from-center:hover:before {
    left: 0;
    width: 100%;
}

.from-center:hover:after {
    top: 0;
    height: 100%;
}

h4, h3, h2 {
    color: #764232;
    font-family: "Quicksand";
}

.whiteBack {
    border-radius: 15px;
    background-color: white;
    width: 40%;
    height: 98%;
    position: absolute;
    opacity: 0.7;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 30%;
}

#personal {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 2%;
}




.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #251a11;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}



#text {
    margin-top: -56px;
    text-align: center;
}



    #text a {
        color: white;
        text-decoration: none;
        font-weight: 100;
        font-size: 16px;
    }




.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #764232;
}

@media (max-width: 480px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, body {
        display: inline-block;
        background-color: #251a11;
        /*overflow: hidden;*/
        width: 100%;
    }

    .content {
        text-align: center;
        font-family: "Quicksand";
        padding-top: 1%;
        height: 100%;
        width: 80%;
        padding-bottom: 1%;
        margin: auto;
        position: inherit;
    }

    a {
        text-decoration: none;
        position: relative;
        color: #251a11;
    }

    .center a {
        text-decoration: none;
        position: relative;
        color: #764232;
    }

        .center a::before {
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            transition: 0.2s;
            transform: scaleX(0);
        }

        .center a:hover:before {
            transform: scaleX(1);
        }



    .from-center:before {
        top: 0;
        left: 50%;
        height: 100%;
        width: 0;
        border: 1px solid var(--inv);
        border-left: 0;
        border-right: 0;
    }

    .from-center:after {
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background: var(--inv);
    }

    .from-center:hover:before {
        left: 0;
        width: 100%;
    }

    .from-center:hover:after {
        top: 0;
        height: 100%;
    }

    h4, h3, h2 {
        color: #764232;
        font-family: "Quicksand";
    }

    .whiteBack {
        border-radius: 15px;
        background-color: white;
        width: 80%;
        height: 98%;
        position: absolute;
        opacity: 0.7;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 10%;
    }

    #personal {
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: 15px;
        right: 2%;
    }



    .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }



    .svg-wrapper {
        margin-top: 0;
        position: relative;
        width: 150px;
        /*make sure to use same height/width as in the html*/
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px
    }




    #shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: #251a11;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
    }


    #text {
        margin-top: -55px;
        text-align: center;
    }



        #text a {
            color: white;
            text-decoration: none;
            font-weight: 100;
            font-size: 16px;
        }



    .svg-wrapper:hover #shape {
        stroke-dasharray: 50 0;
        stroke-width: 3px;
        stroke-dashoffset: 0;
        stroke: #764232;
    }
}

@font-face {
    font-family: "Quicksand";
    src: url("~/fonts/Quicksand-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
