html, body {
    display: inline-block;
    background-color: #004352;
    overflow: hidden;
}

input[type=submit] {
    background: none;
    border: none;
    text-align: center;
    font-family: "Quicksand";
}
.content {
    text-align: center;
    font-family: "Quicksand";
    padding-top: 1%;
    height: 100%;
    position: absolute;
    padding-top: 300px;
}

a {
    text-decoration: none;
    position: relative;
    color: black;
}
.from-center:before {
    top: 0;
    left: 50%;
    height: 100%;
    width: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-center:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: var(--inv);
}

.from-center:hover:before {
    left: 0;
    width: 100%;
}

.from-center:hover:after {
    top: 0;
    height: 100%;
}
h4, h2 {
    color: #004352;
    font-family: "Quicksand";
}
.whiteBack {
    border-radius: 10px;
    background-color: white;
    width: 750px;
    height: 20%;
    position:absolute;
    left: 600px;
    opacity: 0.7;
}

#personal {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    right: 2%;
}

.mainP {
    height: 100%;
    width: 100%;
}

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 55px;
}

#shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
}

.textP {
    margin-top: -70px;
    margin-left: -120px;
    text-align: center;
    color: black;
    width: 400px;
    font-size: 24px;
}

#text {
    margin-top: 20px;
    text-align: center;
    color: black;

}



    #text a {
        color: black;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.1em;
    }




.svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
}
@media (max-width: 480px) {

    html, body {
        background-image: url("../1579552126_3-p-foni-dlya-menyu-9.jpg");
        background-attachment: fixed, scroll;
        background-repeat: no-repeat, repeat-y;
    }
    li {
        color: black;
        list-style-type: none;
    }

    .content {
    text-align: center;
    font-family: "Quicksand";
    padding-top: 1%;
    height: 100%;
    position: absolute;
    }

    a {
        text-decoration: none;
        position: relative;
        color: black;
    }

    .from-center:before {
        top: 0;
        left: 50%;
        height: 100%;
        width: 0;
        border: 1px solid var(--inv);
        border-left: 0;
        border-right: 0;
    }

    .from-center:after {
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background: var(--inv);
    }

    .from-center:hover:before {
        left: 0;
        width: 100%;
    }

    .from-center:hover:after {
        top: 0;
        height: 100%;
    }

    h4, h2 {
        color: #2150FD;
        font-family: "Quicksand";
    }

    .whiteBack {
        border-radius: 10px;
        background-color: white;
        width: 350px;
        height: 20%;
        position: absolute;
        left: 10px;
        opacity: 0.7;


    }
    .whiteBack1 {
        border-radius: 10px;
        background-color: white;
        width: 350px;
        height: 20%;
        position: absolute;
        left: 600px;
        opacity: 0.7;
    }
    #personal {
        color: white;
        text-decoration: none;
        position: absolute;
        bottom: 15px;
        right: 2%;
    }



    .spot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }



    .svg-wrapper {
        margin-top: 0;
        position: relative;
        width: 150px;
        /*make sure to use same height/width as in the html*/
        height: 40px;
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        margin-right: 5px
    }




    #shape {
        stroke-width: 6px;
        fill: transparent;
        stroke: #009FFD;
        stroke-dasharray: 85 400;
        stroke-dashoffset: -220;
        transition: 1s all ease;
    }


    #text {
        margin-top: -35px;
        text-align: center;
    }



        #text a {
            color: white;
            text-decoration: none;
            font-weight: 100;
            font-size: 1.1em;
        }



    .svg-wrapper:hover #shape {
        stroke-dasharray: 50 0;
        stroke-width: 3px;
        stroke-dashoffset: 0;
        stroke: #06D6A0;
    }
}

@font-face {
    font-family: "Quicksand";
    src: url("~/fonts/Quicksand-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}