* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
    color: white;
    font-size: 14px;
    font-family: "Avenir", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-image: url("\\bg-home-full.jpg");
    background-size: cover;
    background-position: center;
}

a {
    color: white;
    text-decoration: none;
}

.verticaldivs {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    /*    border: 1px thick #ffffff;
*/ opacity: 1;
    width: calc(100%/3);
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1) 1s;


    img {
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 35%;
        max-width: 230px;
        max-height: 295px;
        transition: 0.5s all ease;
    }

    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        transition-duration: 0.4s;
        transition-property: color, border-color;
        transition-timing-function: ease;
        cursor: pointer;
        letter-spacing: 1px;
        color: white;
        /*        font-size: 14px;
        font-family: "Avenir", sans-serif;
        //font-weight: 400;
*/ h3 {
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0;
        }

        p {
            font-weight: 100;
            font-size: 16px;
            letter-spacing: 0.2;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }
    }

    div {
        position: absolute;
        bottom: 63px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
    }

    &:hover {
        background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
        background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    }
}

#centralverticaldiv {
    border-left: rgba(255, 255, 255, 0.3) 1px solid;
    border-right: rgba(255, 255, 255, 0.3) 1px solid;
}

#leftverticaldiv {
    border-left: rgba(255, 255, 255, 0.3) 1px solid;
}

@media (max-width:640px) {
    .slider {
        flex-flow: column;
    }

    .item {
        width: 100%;
        height: 25vh;
    }
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
    margin-left: 0.45px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    font-size: 100%;
    font: inherit;

    main {
        height: 100%;
    }
}

.darocobourse {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: top calc(100vh - 48px) right;
    overflow: hidden;
    background-color: #004352;
}

#bg-plume bg-plume-4 small {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: none;
    position: absolute;
    width: 61px;
    height: 57px;
    bottom: 323px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-small-4.svg");
    z-index: 0;
    left: 93.7px;
}

#bg-plume bg-plume-3 small {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    display: none;
    position: absolute;
    width: 111px;
    height: 50px;
    bottom: 1035px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-small-3.svg");
    z-index: 0;
    right: -46.85px;
}

#bg-plume bg-plume-6 wide {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    width: 338px;
    height: 553px;
    bottom: 172px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-6.svg");
    z-index: 0;
    right: 112.734px;
}

#bg-plume bg-plume-5 wide {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    width: 277px;
    height: 603px;
    bottom: 148px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-5.svg");
    z-index: 0;
    right: -17.6992px;
}

#bg-plume bg-plume-4 wide {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    width: 763px;
    height: 848px;
    bottom: 110px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-4.svg");
    z-index: 0;
    left: 69.9158px;
}

#bg-plume bg-plume-3 wide {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    width: 822px;
    height: 781px;
    bottom: 140px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-3.svg");
    z-index: 0;
    left: 8.70625px;
}

#bg-plume bg-plume-2 wide {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    width: 855px;
    height: 647px;
    bottom: 205px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-2.svg");
    z-index: 0;
    left: 45.8027px;
}

#bg-plume bg-plume-1 wide {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    width: 1026px;
    height: 501px;
    bottom: 238px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-1.svg");
    z-index: 0;
    left: -42.0672px;
}

.nav-home {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    outline: 0;
    text-decoration: none;
    transition-duration: 0.4s;
    transition-property: color, border-color;
    transition-timing-function: ease;
    cursor: pointer;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 4;
    display: block;
    width: 41px;
    height: 61px;
    padding-top: 45px;
    font-weight: 500;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    background-image: url("https://www.daroco.fr/wp-content/themes/daroco-v2/img/vagues-home.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 41px 35px;
}

.head {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    width: 100%;
    height: calc(100vh - 48px);
    overflow: hidden;

    a {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        outline: 0;
        color: #eeecdd;
        text-decoration: none;
        transition-duration: 0.4s;
        transition-property: color, border-color;
        transition-timing-function: ease;
        cursor: pointer;
        letter-spacing: 1px;

        img {
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            color: #eeecdd;
            cursor: pointer;
            letter-spacing: 1px;
            aspect-ratio: auto 129 / 150;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            position: absolute;
            top: 90px;
            left: 50%;
            z-index: 4;
            display: block;
            height: 240px;
            width: auto;
            transform: translateX(-50%);
        }
    }
}

h1 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    top: calc(100vh - 26px);
    left: calc((100vw - 1170px) / 2);
    z-index: 5;
    padding-left: 70px;
    background-image: url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: left center;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transform: rotate(-90deg);
    transform-origin: top left;
    animation-name: fleche;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 3;

    a {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        outline: 0;
        color: #eeecdd;
        text-decoration: none;
        transition-duration: 0.4s;
        transition-property: color, border-color;
        transition-timing-function: ease;
        cursor: pointer;
        letter-spacing: 1px;
    }
}

.head:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 416px;
    content: " ";
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    background-size: 416px 416px;
    background-repeat: repeat-x;
}

.big-bg {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('\\bg-bourse.jpg');
    top: 0px;
}

.daroco-bourse {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #eeecdd;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: absolute;
    top: calc(100vh - 96px);
    right: 0;
    z-index: 5;
    display: inline-block;
    padding: 40px 70px;
    height: 96px;
    background-color: #03232A;

    ul {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        color: #eeecdd;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        list-style: none;

        li:not(:last-child) {
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            color: #eeecdd;
            list-style: none;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            display: inline-block;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-right: 20px;
            padding-right: 51px;
            background-image: url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/vagues.svg);
            background-repeat: no-repeat;
            background-position: right center;

            a {
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                list-style: none;
                text-transform: uppercase;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
                outline: 0;
                color: #eeecdd;
                text-decoration: none;
                transition-duration: 0.4s;
                transition-property: color, border-color;
                transition-timing-function: ease;
                cursor: pointer;
                letter-spacing: 1px;
            }
        }

        li {
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
            color: #eeecdd;
            list-style: none;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            display: inline-block;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;

            a {
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                list-style: none;
                text-transform: uppercase;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
                outline: 0;
                color: #eeecdd;
                text-decoration: none;
                transition-duration: 0.4s;
                transition-property: color, border-color;
                transition-timing-function: ease;
                cursor: pointer;
                letter-spacing: 1px;
            }
        }
    }
}
