@model PizzaCommandProj_Management.Models.Dish

@{
    ViewData["Title"] = "New Dish";
}

<h1>NewDish</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewDish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control">
                    <option value="Aperitivi" selected>Aperitivi</option>
                    <option value="Appetizers">Appetizers</option>
                    <option value="Pasta">Pasta</option>
                    <option value="Secondi & Piatti freddi">Secondi & Piatti freddi</option>
                    <option value="Pizzas">Pizzas</option>
                    <option value="Dolci">Dolci</option>
                </select>
                @*<input asp-for="Category" class="form-control" />*@
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contain" class="control-label"></label>
                <input asp-for="Contain" class="form-control" />
                <span asp-validation-for="Contain" class="text-danger"></span>
            </div>
            <div class="svg-wrapper">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape" height="40" width="150" />
                    <div id="text">
                        @*<a href=""> <span class="spot"></span>*@<input type="submit" value="Create" class="btn from-center" />@*</a>*@
                    </div>
                </svg>
            </div>
            @*<div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="AllDishes">Back to Dishes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
