@{
    ViewData["Title"] = "Home Page";
}
<div id="restaurant" class="darocobourse">
    <div class="head">
        <div class="big-bg" style="background-image: url('\\bg-bourse.jpg');"></div>
        <a href="/" title="Retour au choix des restaurants">
            <img width="129" height="150" src="~/logo-bourse.svg" class="wp-post-image" alt="Logo Daroco Bourse">
        </a>
    </div>
    <h1><a href="#content" title="En savoir plus sur le Daroco Bourse">Daroco Bourse</a></h1>
    <nav class="daroco-bourse">
        <ul>
            <li><a class="popup-btn" popup-ajax="carte" popup-param="15" title="Carte du restaurant"><span class="wide">La </span>carte</a></li>
            <li><a class="popup-btn" popup-ajax="reservation" popup-param="https://reservations.zenchef.com/indexv2.php?rid=347479&amp;pid=1001&amp;padding=0&amp;type=web" title="Réserver en ligne">Réserver <span class="wide">en ligne</span></a></li>
        </ul>
    </nav>

    @*<div class="bg-plume bg-plume-4 small" style="width: 61px; height: 57px; bottom: 323px; left:0px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-small-4.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-3 small" style="width: 111px; height: 50px; bottom: 1035px; right:0px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-small-3.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-6 wide" style="width: 338px; height: 553px; bottom: 172px; right:149px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-6.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-5 wide" style="width: 277px; height: 603px; bottom: 148px; right:95px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-5.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-4 wide" style="width: 763px; height: 848px; bottom: 110px; left:-93px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-4.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-3 wide" style="width: 822px; height: 781px; bottom: 140px; left:-65px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-3.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-2 wide" style="width: 855px; height: 647px; bottom: 205px; left:-65px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-2.svg); z-index:0;"></div>
    <div class="bg-plume bg-plume-1 wide" style="width: 1026px; height: 501px; bottom: 238px; left:-116px; background-image:url(https://www.daroco.fr/wp-content/themes/daroco-v2/img/plume-wide-1.svg); z-index:0;"></div>*@
    <div id="content" class="content wrapper">
        <h2 class="slogan">
            Trattoria des temps modernes
        </h2>
        <div class="col-left">
            <div class="informations wide">
                <ul>
                    <li class="adresse">
                        <a href="#" target="_blank" title="Visualiser le restaurant sur Google Map">6 rue Vivienne, 75002 Paris</a>
                    </li>
                    <li class="tel">
                        <a href="tel:0142219371" title="Téléphoner au restaurant">tel : 01 42 21 93 71</a>
                    </li>
                    <li class="ouverture">
                        Ouvert tous les jours de midi à minuit
                    </li>
                    <li class="instagram">
                        <a href="https://www.instagram.com/daroco_paris/" target="_blank" title="Visitez notre profil Instagram">@@Daroco_paris</a>
                    </li>
                </ul>
            </div>

            <a class="img-portrait popup-btn daroco-bourse" popup-ajax="galerie" popup-param="15" title="Galerie photos du restaurant" data-sr-id="3" style="visibility: visible; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);">
                <span>
                    Insouciance de vos goûts
                </span>
                <img src="~/img/DBourse-3.jpg" alt="">
            </a>
        </div>

        <div class="col-right">
            <div class="description">
                <p>Les deux compères Alexandre Giesbert et Julien Ross installent en 2016 leur&nbsp;<strong>restaurant italien</strong> aux dimensions hors normes dans l’ancienne boutique Jean-Paul&nbsp;Gaultier. Située rue Vivienne, au début de la mythique Galerie Vivienne et à deux pas de la place de la <strong>Bourse</strong> et du <strong>Palais Brongniart</strong>, la sensation Daroco attire toute la faune mode et <strong>branchée</strong> grâce à une équation ultra désirable&nbsp;: assiettes délicieuses, liquides bien faits, ambiance bouillonnante et décor démesuré. La table idéale pour tous les (bons) moments de la vie&nbsp;: un dîner entre amis, un déjeuner pro, fissa, entre deux réunions ou une grande tablée avec toute la famille le week-end, portée toujours par un service attentionné dont Daroco a le secret.</p>
                <p>Installé dans les anciens ateliers de couture de Jean-Paul Gaultier, Daroco Bourse c’est un <strong>design</strong> unique, pensé avec génie par les architectes Olivier Delannoy et Francesca Errico, récompensé du prix Fooding du meilleur décor en 2017. Le plafond-miroir renversant reflète les tables en marbre vert, le sol en terrazzo, les magistrales colonnes en béton, la végétation, et, clou du spectacle&nbsp;: la <strong>cuisine ouverte</strong> où les pizzaiolis préparent à tour de bras des <strong>pizzas stylées</strong> bien roulées dans la plus pure tradition napolitaine.</p>
                <p>A tavola, Daroco Bourse envoie le meilleur des produits frais italiens, sourcés au plus près des producteurs de sa «&nbsp;Botte secrète&nbsp;»&nbsp;: des pâtes fabriquées sur place à <strong>la meilleure pizza de Paris</strong> (voire de ta vie) du chef Federico Schiavon, maestro des grands classiques de la trattoria. À arroser d’un verre de vin italien, d’un cocktail signé par le roi du shaker <strong>Nico de Soto</strong> ou d’une bière artisanale à siroter sur fond de playlists entraînantes mijotées par le collectif Spectre.</p>
                <p>Pour les bandes&nbsp;: <strong>event privé</strong>, <strong>dîner de groupe</strong>, <strong>anniversaire</strong>, cocktail déjeunatoire ou dînatoire, <strong>conférence</strong>, petit-déjeuner, <strong>dîner ou soirée d’entreprise</strong>, <strong>espace privatisable</strong>.</p>
            </div>

            @*<a class="galerie" popup-ajax="galerie" popup-param="15" title="Galerie photos du restaurant" data-sr-id="5" style="visibility: visible; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);">
                <img src="~/img/DBourse-3.jpg" alt="r">
            </a>*@

        </div>

    </div>

    <footer id="colophon" class="site-footer wrapper" role="contentinfo">
        <!-- <div class="right">
            <ul>
                <li><a class="instagram" href="https://www.instagram.com/daroco_paris/" target="_blank"></a></li>
                <li><a class="facebook" href="https://www.facebook.com/DAROCO-207596229577766" target="_blank"></a></li>
            </ul>
        </div> -->
        <div class="left">
            <ul>
                <li class="mentions"><a class="popup-btn" popup-ajax="page" popup-param="mentions-legales" title="Mentions Légales">Mentions légales</a></li>
                <li class="credits"><a class="popup-btn" popup-ajax="page" popup-param="credits" title="Crédits">Crédits</a></li>
                <li class="recrutement"><a class="popup-btn" popup-ajax="recrutement" popup-param="15" title="Rejoignez-nous">Rejoignez-nous</a></li>
            </ul>
        </div>

    </footer><!-- .site-footer -->


</div>