@{
    ViewData["Title"] = "Menu";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="~/css/MenuCss.css">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="content">
        <h2>Restaurant menu </h2><h3>Daroco Bourse</h3><h4>Aperitivi</h4>
        <ul>
            <li>Arancini, Mushrooms and Mozzarella &nbsp;<em>8</em></li>
            <li>Parma's ham <i>14</i></li>
            <li>Parmigiano Reggiano 24 months old, Old Balsamic&nbsp;<em>9</em></li>
            <li>Focaccia with Rosemary and Parmesan <em>8</em></li>
            <li>'Nduja cheese  <em>8</em></li>
            <li>Ankle boot  <em>8</em></li>
        </ul>
        <h4>Appetizers</h4>
        <ul>
            <li>Veal tartare, Capers, Parmesan cream &nbsp;<em>14</em></li>
            <li>Buffalo PDO Mozzarella, Anchois de Cetara&nbsp;<em>15</em></li>
            <li>Sarde in Saor &nbsp;<em>14</em></li>
            <li>Scrambled with Truffle &nbsp;<em>18</em></li>
        </ul>
        <h4>Pasta</h4>
        <ul>
            <li>Linguine alla Vongole&nbsp;<em>23</em></li>
            <li>Trofie alla Norma&nbsp;<em>19</em></li>
            <li>Ravioli di Stracciatella, Sauce Tomate, Datterino&nbsp;<em>26</em></li>
            <li>Pappardelle au Ragoût de Poulpe&nbsp;<em>25</em></li>
            <li>Gnocchi, N'duja Calabrese, Brocoli et Olive Taggiasche&nbsp;<em>21</em></li>
            <li>Linguine al Tartufo (Tuber Uncinatum)&nbsp;<em>32</em></li>
        </ul>
        <h4>Secondi &amp; Piatti freddi</h4>
        <ul>
            <li>Caponakchouka&nbsp;<em>23</em></li>
            <li>Côtelettes d'Agneau rôties au Thym, Pommes de Terre au Four&nbsp;<em>31</em></li>
            <li>Filet de Dorade grillé, Artichaut Poivrade&nbsp;<em>27</em></li>
        </ul>
        <h4>Pizzas</h4>
        <ul>
            <li>Margherita <em>12</em></li>
            <li><strong>Tomato Sauce, Milk Flower, Basil </strong></li>
            <li>Napoli <em>14</em></li>
            <li><strong>Sauce Tomate, Anchois de Cetara, Tomates cerises, Olives Taggiasche, Ail, Origan, Basilic</strong></li>
            <li>Parmigiana <em>16</em></li>
            <li><strong>Fior di latte, Aubergine Frit, Sauce Tomate, Pesto de Basilic, Copeaux de parmesan</strong></li>
            <li>A Tuna Matata <em>16</em></li>
            <li><strong>Fior di latte, Tomate cerise Jaune, Roquette, Thon Cetara, Oignon rouge, Salsa Tonato</strong></li>
            <li>Parigi <em>17</em></li>
            <li><strong>Sauce tomate, Fior di latte, Jambon blanc &amp; Champignons de Paris, Cébettes</strong></li>
            <li>Formaggissima <em>17</em></li>
            <li><strong>Fior di latte, Gorgonzola, Scamorza fumée, Parmesan, Ricotta de Vache, Pistache</strong></li>
            <li>Fais Toi Sale &amp; Kiss <em>18.5</em></li>
            <li><strong>Artichaut à la Romaine, Tapenade d'Olive,Bresaola,Fêta</strong></li>
            <li>Fiamma <em>18</em></li>
            <li><strong>Sauce tomate, Fior di latte, Spianata, 'Nduja Oignon rouge confit, Stracciatella</strong></li>
            <li>Parma Show <em>19</em></li>
            <li><strong>Sauce tomate, Mozzarella di Bufala, Prosciutto di Parma, Basilic</strong></li>
            <li>Pizza al Tartufo (Tuber Uncinatum) <em>32</em></li>
            <li><strong>Crème de champignons, Truffe </strong></li>
        </ul>
        <h4>Dolci</h4>
        <ul>
            <li>Gelato, 1, 2 ou 3 Parfums <em>4/7/9</em></li>
            <li>Pizza Nocciolatta&nbsp;<em>10</em></li>
            <li>Panna Cotta, Coulis d'Abricots, Pistache&nbsp;<em>9</em></li>
            <li>Tiramisu <em>9</em></li>
            <li>Mousse aux Chocolats&nbsp;<em>9</em></li>
        </ul>
    </div>
</body>
</html>