@model IEnumerable<PizzaCommandProj.Models.Dish>
    @{
        ViewData["Title"] = "Menu";
    }
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="~/css/MenuCss.css">

        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="content">
            <div class="whiteBack">
                </br>
                @foreach (var item in Model)
                {

                    <h2>Restaurant menu </h2><h3>Daroco Bourse</h3><h4>@Html.DisplayFor(modelItem => item.Category)</h4>
                    <ul>
                        <li><p class="center"><a href="#">@Html.DisplayFor(modelItem => item.Name)</a> &nbsp;<em>@Html.DisplayFor(modelItem => item.Price) </em> <a href="#">@Html.ActionLink("Buy", "NewOrder", new { Id = item.Id })</a></p></li>
                    </ul>

                }
            </div>
        </div>
    </body>
</html>
